.contact-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-weight: bolder;
  font-size: 30px;
  line-height: 3rem;
}

.contact-logo {
  align-items: center;
  justify-content: center;
  height: 7rem;
  margin: 4rem;
}

@media only screen and (max-width: 1100px) {
  .contact-logo {
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin: 0.5rem;
  }
}