html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 24px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button#button-scroll-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  background: url("../img/uparrow.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
}

.first-name {
  font-size: 60px;
  margin-left: 15px;
  color: orange;
}

section#about {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#image-self {
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 20px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 50px;
}