:root {
  --bg-body-color: linear-gradient(to right, #007FA4, #005670);
  --bg-nav-color: linear-gradient(to right, #3E4756, #A2ACBD);
  --bg-button-color: lightslategray;
  --hover-nav-color: lightblue;
  --font-nav-color: white;
  --font-color: white;
  --first-name-color: orange;
  --border-button-color: black;
  --text-border: white;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* The Universal Selector */
*,
/* All elements*/
*::before,
/* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Source Serif Pro', serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--bg-body-color);
  color: var(--font-color);
}

section {
  width: 65%;
  margin-top: 100px;
  scroll-margin-top: 5rem;
}

button#button-scroll-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  background: url("../img/uparrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
  border: 0px;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 50px;
}

hr {
  width: 75%;
  height: 1px;
  color: black;
}

/*Resume*/

#image-resume {
  height: 100%;
  width: 100%;
  max-width: 50rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#download-resume {
  cursor: pointer;
  margin: 3rem 0rem;
  height: 4rem;
  padding: 0.5rem;
}

#download-resume:hover {
  border: 2px solid var(--border-button-color);
  border-radius: 7px;
}
@media only screen and (max-width:1200px) {
  section {
    width: 65%;
    margin-top: -100px;
    scroll-margin-top: 1.5rem;
  }
}