html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Source Serif Pro', serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #98c1d9;
}

section {
  width: 65%;
  margin-top:100px;
  scroll-margin-top: 5rem;
}

button#button-scroll-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  background: url("../img/uparrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
  border:0px;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  font-size: 50px;
}

hr {
  width: 75%;
  height: 1px;
  color: black;
}

/*
section#about, .work-item-container {
  background-color: #e0fbfc;
}
*/