.work-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-bottom: 2rem;
  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}

.work-tech-list {
  display: inline-flex;
  padding: 0;
}

.work-tech-list>li {
  margin: 0 2rem;
}

.work-title {
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.work-logo {
  margin: 0rem 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

.title-container {
  display: inline-flex;
  box-sizing: content-box;
  align-items: baseline;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.image-data {
  height: 100%;
  width: 100%;
  max-height: 40rem;
  max-width: 40rem;
  margin-bottom: 4rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}